<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <h2>House Rules</h2>
    <ul>
        {% for rule in house_rules.values() %}
            <li>{{ rule }}</li>
        {% endfor %}
    </ul>
    <h2>Jobs</h2>
    <ul>
        {% for job in jobs %}
            <li>{{ job }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('post_job') }}">Post a Job</a>
    <a href="{{ url_for('search_job') }}">Search for Job</a>
</body>
</html>
